@font-face {
    font-family: vazir;
    src: url("../font/Vazir.eot") format("eot");
    src: 
    url("../font/Vazir.woff") format("woff"),
    url("../font/Vazir.woff2") format("woff2"),
    url("../font/Vazir.ttf") format("ttf");
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: vazir;
}

body {
    direction: rtl;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

/* Panel  */

#panel {
    width: 20%;
    height: 100%;
    background: #ebebeb;
    overflow: hidden;
    position: fixed;
    z-index: 999;
}

#panel-items {
    width: 100%;
    height: 100%;
}

#panel-items li {
    width: 100%;
    height: 64px;
    margin-bottom: 10px;
    list-style: none;
}

#panel-items li:nth-child(2) {
    background-color: #d9d9d9;
    margin-top: -10px;
    border: 1px solid #c6c6c6;
    width: 99.2%;
}

#panel-items li a {
display: block;
width: 100%;
color: #000;
text-decoration: none;
padding: 15px 15px 10px 10px;
transition: all .2s;
}

#panel-items li a:hover {
background: #424242;
color: #fff;
padding: 15px 15px 15px 10px;
}

#panel-items li a svg{
    color: #417274;
    margin-left: 10px;
}

#panel-items li a:hover svg {
    color: #fff;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #333333;
    color: #fff;
}

.logo img{
    width: 17.5%;
}

.logo span {
    width: 60%;
    font-size: 20px;
    font-weight: bold;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 20%;
    border-radius: 8px;
    box-shadow: 0 0 8px #00000041;
    margin: 10px;
}

.profile span {
    width: 60%;
    font-size: 15px;
    margin: 10px;
}

/* Content */

#content-box {
    margin-right: 20%;
    width: 80%;
    height: 100%;
    background: #d3d3d3;
}

#content-box header {
width: 100%;
height: 54px;
display: flex;
justify-content: space-between;
align-items: center;
background: #324849;
padding: 5px;
position: sticky;
overflow: hidden;
top: 0;
z-index: 999;
}

#content-box header svg {
    color: #fff;
    font-size: 25px;
    transition: all .2s;
}

#content-box header .head-items {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content-box header .head-items {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}

#content-box header .head-items .head-prof{
    position: relative;
    width: 16%;
    border-radius: 50%;
    animation: pull 2s linear infinite;
}

@keyframes pull {
    0% {
        box-shadow: 0 0 0;
    }
    25%{
        box-shadow: 0 0 10px #ffffff;
    }
    50% {
        box-shadow: 0 0 20px #ffffff;
    }
    75%{
        box-shadow: 0 0 10px #ffffff
    }
}

#content-box header .head-items .head-prof::after {
    content: "0";
    position: absolute;
    font-size: 10px;
    background: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    top: -5px;
    right: -5px;
    padding: 1px;
    color: #fff;
}

#content-box header .head-items img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#content-box header .head-items img:hover{
    cursor: pointer;
}

#content-box header .head-menu {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
}

#content-box header svg:hover{
    cursor: pointer;
}

.title-box {
    background-color: #e3e3e3;
    width: 95%;
    height: 40px;
    position: relative; 
    margin: 15px auto;
    border-radius: 10px;
}

.icon-box {
    position: absolute;
    right: 8px;
    top: 12px;
    color: #333;
}

.icon-box2 {
    position: absolute;
    right: 130px;
    top: 12px;
}

.title-box h4 {
    position: absolute;
    right: 38px;
    top: 8px;
    color: #333;
}


/* Script For Menu */

.hide{
    display: none;
}

.longer{
    width: 100% !important; 
    margin-right: 0 !important;
}

#info {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 5px;
}

#info .info-box {
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    transition: all .2s;
}

#info .info-box .icon{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -10px;
}

#info .info-box .icon svg {
    font-size: 40px;
}

#info .info-box .info {
    width: 45%;
    height: 100%;
    padding-top: 10px;
}

#info .info-box:hover {
    transform: 
        perspective(1000px)
        rotateX(20deg) 
        translateY(-20px);
        cursor: pointer;
}

#info .box-users .icon , #info .box-users .info{
color: #2d5be4;
}
#info .box-coin .icon , #info .box-coin .info{
color: #ffd900;
}
#info .box-sign .icon , #info .box-sign .info{
color: #23c90d;
}
#info .box-user .icon , #info .box-user .info{
color: #2854da;
}

.about {
    font-size: 14px;
    color: #0a0a0a;
}

.number {
    font-size: 40px;
    margin-right: 40px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#activity {
    width: 100%;
    height: 400px;
    margin: -25px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #d3d3d3;
}

.news {
width: 30%;
height: 300px;
border-radius: 5px;
box-shadow: 0 0 3px #00000017;
background: #fff;
position: relative;
overflow: hidden;
}

.news::after {
    content: "آخرین اخبار";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

.news ul {
    width: 100%;
    height: 100%;
    margin: 9% 0 0 0;
    padding: 5px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.news ul li {
    list-style: url("");
    margin: 15px 20px;
    background: linear-gradient(45deg , #2d5be4 , #00ccff);
    border-radius: 10px 0 10px 10px;
    width: 250px;
    height: fit-content;
    padding: 10px;
    transition: all .2s;
    line-break: anywhere;
}

.news ul li:hover{
    transform: translateX(-10px);
}

.tables {
    width: 60%;
height: 300px;
border-radius: 5px;
box-shadow: 0 0 3px #00000017;
background: #fff;
position: relative;
overflow: hidden;
}

/* Charts Styles */

.Chart1 {
    box-sizing: border-box;
    height: 250px;
    width: 95%;
    position: relative;
    border: 1px solid #d0d0d0;
    background: #fbfbfb;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

#myChart {
    width: 20%;
}
#myChart1 {
    width: 20%;
}

